

.productContainer {
    padding:20px;
    background-color:white;
    border-radius: 3px;
    border:1px solid #e1e1e1;
    margin-bottom:20px;
}


.productContainer:hover {
    border-left:7px solid lightblue;
}

.center-product-info {
    font-size:20px;
    color:#2c2b2a;
}

.center-product-info > h4 {
    font-weight:bold;
}

.center-product-info > h5 {
    color:#666666;
}

.center-product-info > h6 {
    font-weight:bold;
    color:#23A2E5;
}

.right-product-info, .product-detail-info {
    border-left-style:solid;
    border-left-width:1px;
    border-left-color:#e8e8e8;
}


/*  Detale produktu po wybraniu z listy */


.container-product-info{
    background-color :white;
    border-style:solid;
    border-width:1px;
    border-color:#e8e8e8;
    padding:30px;
}

.product-detail-info  {

    border-left-width : 2px;
}

.product-detail-info > h2 {
    font-weight:500;
    color:darkslategrey;
}
.product-detail-info > h3 {
    color:orangered !important;
}

.product-picture {
    /*padding-top:30px;*/
}

.product-buttons > button {
    width: 200px;
}

#spinner {
    width:50px;
}

.quantity-container {
    padding:0;
}

/*  -------------------     */


.product-price, .product-detail-info > h3 {
    font-size:24px;
    color:#2c2b2a;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
}

.button-container {
    padding-top:10px;
}

#availableLabel {
    /*color:darkgreen;*/
}

.label-container {
    padding-right:0px;

}

