
<div class="productContainer">
    <div class="row">
        <div class="left-product-info">
            Jestem obrazkiem z lewej strony.
        </div>
        <div class="center-product-info">
            Jestesm opisem produktu.
        </div>
        <div class="right-product-info">
            A ja jestesm  czescia zakupowa.
        </div> 
    </div>
</div>


